body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebebeb;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  height: 100vh;
  width: 300px;
  margin: auto;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

h4 {
  text-transform: uppercase;
  margin: auto 0;
  font-weight: 500;
}
h1,
h2,
h3 {
  font-weight: 600;
}
#balance {
  margin: auto 0.2px;
}

.inc-exp-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  background: #ffffff;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
  width: 100%;
  position:relative;
}
.inc-exp-container::before {
  content: "";
  border-left: 1px solid rgb(208, 204, 204);
  height: 50px;
  position: absolute;
  left: 50%;
  top: 20%;
}
#money-plus {
  color: rgb(107, 197, 17);
  margin: 0 auto;
  font-weight: 700;
}

#money-minus {
  color: rgb(243, 41, 41);
  margin: 0 auto;
  font-weight: 700;
}

.list::before {
  content: "";
  border-bottom: 2px solid rgb(172, 171, 171);
  position: absolute;
  height: 10px;
  width: 100%;
  top: 46%;
  left: 0%;
}

li.minus {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
  list-style-type: none;
  margin: 0 auto;
  border-right: 4px solid rgb(146, 27, 27);
  height: 33px;
  align-items: center;
  padding: 0 0.4rem;
}
ul {
  padding-inline-start: 0;
}

li.minus > button {
  display: none;
}

ul > li.minus:hover button {
  display: block;
  position: absolute;
  right: -14%;
  background-color: rgb(146, 27, 27);
  color: #ffffff;
  border: none;
  height: 33px;
  width: 25px;
  cursor: pointer;
}


.form::before{
  content: "";
  border-bottom: 2px solid rgb(172, 171, 171);
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: 27%;
  left: 0%;
}

.form-control{
  display:flex;
  flex-direction:column;
}

.label1{
  font-weight:600;
  color:#798086;
}